//공통
.sc-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.35em;
}

.inner01 {
    height: 350px;
    overflow: hidden;
    @include clear;
}

.sc-slide {
    width: 770px;
    float: left;
    position: relative;

    .slide-content {
        //공통
        width: 690px;
        height: 350px;
        position: absolute;
        left: 80px;
        background: #ccc;

        .title {
            position: absolute;
            top: 0;
            left: -80px;
            width: 80px;
            height: 50%;
            background: #d2e1e9;
            text-align: center;
            color: #333;
            font-weight: 600;
            padding-top: 50px;
            box-sizing: border-box;

            &.title::before {
                content: '';
                display: block;
                width: 50px;
                height: 50px;
                background: #fff;
                border-radius: 50%;
                margin: 0 auto 10px;
            }
        }

        &.content01 {

            //주요뉴스
            .title {

                &.title::before {
                    content: '';
                    @include vsIcon(0, 0);
                }
            }

        }

        &.content02 {

            //시민참여
            .title {
                top: 50%;

                &.title::before {
                    content: '';
                    @include vsIcon(-50px, 0);
                }
            }
        }

        &.active {
            z-index: 10;

            .title {
                background: #0158a8;

                &.title::after {
                    content: '';
                    position: absolute;
                    z-index: 10;
                    left: 99%;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 25px 0 25px 32px;
                    border-color: transparent transparent transparent #0158a8;
                    margin-top: -25px;
                }
            }
        }

        //작동

        .slide-box {
            overflow: hidden;
            box-sizing: border-box;
            height: 350px;
            display: block;

            .slide-list {

                .slide-item {}
            }

        }

        .figure {

            .figcaption {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 40px;
                line-height: 40px;
                background-color: rgba(0, 0, 0, .7);
                color: #fff;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                box-sizing: border-box;
            }
        }
    }

    .controls-box {
        position: absolute;
        display: block;
        right: 3px;
        bottom: 4px;
        width: 110px;
        height: 32px;
        border-radius: 16px;
        box-sizing: border-box;
        z-index: 11;

        &::before {
            content: '';
            position: absolute;
            top: 4px;
            right: 66px;
            width: 1px;
            height: 24px;
            background: rgba(255, 255, 255, .5);
        }

        .pagers {
            position: absolute;
            display: block;
            right: 80px;
            top: 50%;
            width: auto;
            color: #fff;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            overflow: hidden;
            text-align: right;
            font-size: 13px;
            color: #fff;
            letter-spacing: 0;
            bottom: auto;
            width: auto;
            left: auto;

        }

        .btn {
            position: absolute;
            top: calc(50% + 1px);
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            width: 18px;
            height: 18px;
            z-index: 10;
            cursor: pointer;
            background-position: center;
            background-repeat: no-repeat;
            text-indent: -9999px;

            &.prev {
                left: 49px;
                @include spBg(-241px, -285px);
            }

            &.next {
                right: 2px;
                @include spBg(-256px, -285px);
            }
        }

        .btn.play {
            position: absolute;
            display: block;
            right: 21px;
            top: calc(50% + 1px);
            width: 18px;
            height: 18px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            overflow: hidden;

            .start {
                width: 100%;
                height: 100%;
                display: none;
                @include spBg(-269px, -285px);
            }

            .stop {
                width: 100%;
                height: 100%;
                display: block;
                @include spBg(-285px, -285px);
            }
        }
    }
}

.visual-side {
    float: right;
    width: 360px;
    height: 350px;

    .img-box {
        position: relative;
        width: 100%;
        height: 214px;
        overflow: hidden;
        background: url(../images/side-bg.jpg) no-repeat;

        .co-data {
            height: 129px;

            .input-list {

                span {
                    position: absolute;
                    display: inline-block;
                    min-width: 47px;
                }

                .corona-result0 {
                    top: 7px;
                    font-size: 12px;
                    font-weight: 700;
                    margin-left: 25px;
                    color: #000;
                    left: initial;
                    right: 20px;
                    letter-spacing: -0.05em;
                    height: 16px;
                }

                .corona-result1 {
                    top: 95px;
                    left: 50%;
                    height: 26px;
                    color: #fff;
                    text-align: center;
                    font-weight: 600;
                    letter-spacing: -0.09em;
                    width: 130px;
                    margin-left: -146px;
                    font-size: 18px;
                }

                .corona-result2 {
                    left: 50%;
                    height: 26px;
                    color: #fff;
                    text-align: center;
                    font-weight: 600;
                    letter-spacing: -0.09em;
                    top: 95px;
                    width: 130px;
                    margin-left: 17px;
                    font-size: 18px;
                }
            }
        }

        .co-figure {
            height: 85px;

            .input-number {

                span {
                    position: absolute;
                    display: inline-block;
                    min-width: 47px;
                }

                .vaccine-result1 {
                    top: 137px;
                    font-size: 12px;
                    font-weight: 700;
                    margin-left: 25px;
                    color: #000;
                    left: initial;
                    right: 20px;
                    letter-spacing: -0.05em;
                    height: 16px;
                }

                .vaccine-result2 {
                    top: 173px;
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                    margin-left: -160px;
                    font-size: 18px;
                    letter-spacing: -0.05em;
                    left: 50%;
                    font-weight: 600;
                    text-align: center;
                    color: #fff;
                }

                .vaccine-result3 {
                    top: 173px;
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                    margin-left: -75px;
                    font-size: 18px;
                    letter-spacing: -0.05em;
                    left: 50%;
                    font-weight: 600;
                    text-align: center;
                    color: #fff;
                }

                .vaccine-result4 {
                    top: 173px;
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                    margin-left: 8px;
                    font-size: 18px;
                    letter-spacing: -0.05em;
                    left: 50%;
                    font-weight: 600;
                    text-align: center;
                    color: #fff;
                }

                .vaccine-result5 {
                    top: 173px;
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                    margin-left: 91px;
                    font-size: 18px;
                    letter-spacing: -0.05em;
                    left: 50%;
                    font-weight: 600;
                    text-align: center;
                    color: #fff;
                }

            }
        }
    }

    .mayor-area {
        position: relative;
        margin-top: 7px;

        .link {
            display: block;
            position: absolute;
            bottom: 15px;
            z-index: 1;

            &.link01 {
                left: 15px;
            }

            &.link02 {
                left: 119px;
            }
        }
    }
}

//visual 끝 //

.sc-service {
    position: relative;
    padding: 50px 0 0;

    .service-wrap {
        overflow: hidden;

        .sc-title {
            font-weight: 700;
            margin-bottom: 20px;
            padding-bottom: 10px;
            font-size: 24px;
            border-bottom: 1px solid #dbdbdb;
        }

        .service-list {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .service-item {
                width: auto;
                height: 90px;


                a {
                    display: block;
                    height: 100%;
                    text-align: center;
                    font-size: 15px;

                }

                &.ic-service a::before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    height: 60px;
                    @include spService(-360px, 0);
                }

                &.ic-complaint a::before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    height: 60px;
                    @include spService(0, 0);
                }

                &.ic-job a::before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    height: 60px;
                    @include spService(-120px, 0);
                }

                &.ic-realty a::before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    height: 60px;
                    @include spService(-300px, 0);
                }

                &.ic-study a::before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    height: 60px;
                    @include spService(-180px, 0);
                }

                &.ic-welfare a::before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    height: 60px;
                    @include spService(-960px, 0);
                }

                &.ic-home a::before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    height: 60px;
                    @include spService(-780px, 0);
                }

                &.ic-village a::before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    height: 60px;
                    @include spService(-840px, 0);
                }

                &.ic-seoul a::before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    height: 60px;
                    @include spService(-1020px, 0);
                }

                &.ic-manual a::before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    height: 60px;
                    @include spService(-1080px, 0);
                }

                &.ic-parliament a::before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 60px;
                    height: 60px;
                    @include spService(-600px, 0);
                }

            }
        }

        .service-more {
            width: 112px;
            height: 29px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            display: block;
            font-size: 15px;
            position: absolute;
            right: 0;
            top: 50px;
            padding-left: 13px;
            line-height: 28px;
            background: url(../images/right.png) no-repeat right 13px top 50%;
        }
    }
}

//-- service 끝 ---//
.sc-corona {
    margin-top: 35px;
    background: #eff4f8;

    .corona-wrap {
        width: 1152px;
        margin: 0 auto;
        overflow: hidden;

        .corona-box {
            float: left;
            width: 288px;
            margin: 20px 0;
            position: relative;

            &.corona-box+.corona-box::before {
                content: '';
                position: absolute;
                top: 5px;
                left: 0;
                width: 1px;
                height: 60px;
                background: #dbdbdb;
            }

            img {
                width: 288px;
                height: 70px;
            }
        }
    }
}


//-- corona 끝 --//

.inner02 {
    padding: 50px 0 50px;
    border-bottom: 2px solid #222;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .event-box {
        position: relative;
        width: 360px;

        &.event-box+.event-box {
            margin: 0 36px;
        }

        .sc-title {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 2px solid #dbdbdb;
        }

        .event-list {
            box-sizing: border-box;

            .event-item {
                padding: 6px 0 6px 0;
                position: relative;
                width: 100%;
                white-space: nowrap;
                display: flex;
                font-style: 15px;


                em {
                    margin-right: 9px;

                    &.ic-natural {
                        color: #599100;
                    }

                    &.ic-culture {
                        color: #9b64d3;
                    }

                    &.ic-administration {
                        color: #d76000;
                    }

                    &.ic-welfare {
                        color: #028ab6;
                    }
                }

                .desc {
                    width: 100%;
                    display: block;
                    color: #222;
                    overflow: hidden;
                    text-overflow: ellipsis;


                }
            }
        }

        .more {
            position: absolute;
            right: 0;
            top: 6px;
            width: 22px;
            height: 20px;
            border: 1px solid #ddd;
            @include spBg(-1px, -1px);
        }
    }

    .board-service {
        width: 360px;

        .sc-title {
            font-size: 24px;
            padding-bottom: 10px;
            font-weight: 700;

        }

        .service-list {
            overflow: hidden;
            margin: 0;
            padding: 17px 5px 7px 20px;
            background: #eff4f8;


            .service-item {
                position: relative;
                float: left;
                width: 50%;
                padding: 0 0 10px 10px;
                box-sizing: border-box;
                line-height: 1.35em;

                &::before {
                    content: '';
                    position: absolute;
                    background: #666;
                    width: 2px;
                    height: 2px;
                    left: 0;
                    top: 50%;
                    margin-top: -6px;
                }

                a {
                    font-size: 15px;
                    display: block;
                }

            }
        }
    }
}


//-- borad 끝--//

.sc-info {
    padding-top: 40px;

    .info-wrap {
        display: block;
    }

    .sc-title {
        padding: 0 0 20px 0;
        font-size: 24px;
        font-weight: 700;
    }

    .info-list {
        padding: 0 27px;
        margin-left: -59px;
        box-sizing: border-box;
        display: flex;

        .info-item {
            width: 85px;
            height: 145px;
            margin-left: 59px;

            &.ic-house {
                background: url(../images/icon/house.png) no-repeat;
            }

            &.ic-economy {
                background: url(../images/icon/economy.png) no-repeat;
            }

            &.ic-traffic {
                background: url(../images/icon/traffic.png) no-repeat;
            }

            &.ic-natural {
                background: url(../images/icon/environment.png) no-repeat;
            }

            &.ic-welfare {
                background: url(../images/icon/welfara.png) no-repeat;
            }

            &.ic-safety {
                background: url(../images/icon/safty.png) no-repeat;
            }

            &.ic-culture {
                background: url(../images/icon/culture.png) no-repeat;
            }

            &.ic-administration {
                background: url(../images/icon/work.png) no-repeat;
            }

            .desc {
                width: 100%;
                height: 100%;
                display: inline-block;
                font-size: 16px;
                text-align: center;
                padding-top: 100px;
            }
        }
    }
}

//-- info 끝 --//

.sc-news {
    position: relative;
    padding: 20px 0 30px;

    .sc-title {
        padding: 0 0 20px 0;
        font-size: 24px;
        font-weight: 700;
    }

    .news-area {
        position: relative;

        .news-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .news-item {
                width: 273px;
                position: relative;

                .box-name {
                    position: absolute;
                    top: 156px;
                    width: 82px;
                    height: 32px;
                    color: #fff;
                    text-align: center;
                    line-height: 32px;
                    z-index: 1;

                    &.ic-culture {
                        background-color: #9b64d3;
                    }

                    &.ic-administration {
                        background-color: #028ab6;
                    }

                    &.ic-natural {
                        background-color: #599100;
                    }

                    &.ic-traffic {
                        background-color: #337ee2;
                    }

                    &.ic-welfare {
                        background-color: #d76000;
                    }
                }

                .img-box {
                    width: 100%;
                    height: 188px;
                    overflow: hidden;
                    margin-bottom: 15px;
                }

                .desc {
                    font-size: 16px;
                    width: 100%;
                    height: 3em;
                    line-height: 1.5em;
                    margin-bottom: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    word-wrap: normal;
                    color: #222;
                    word-break: keep-all;
                }
            }
        }

        .link-more {
            width: 75px;
            position: absolute;
            right: 0;
            top: 0;
            @include spBg(0, -259px);
        }

    }
}

// --news 끝 --

.sc-seoul-news {
    padding-bottom: 50px;
    @include clear;

    .seoul-new-wrap {
        float: left;
        width: 780px;

        .video-box {

            .sc-title {
                padding-bottom: 11px;
            }

            .img-box {
                float: left;
                width: 280px;
                height: 152px;
                position: relative;
                overflow: hidden;
            }
        }

        .news-box {

            .sc-title {
                padding-bottom: 11px;
                margin-top: -43px;
                margin-left: 300px;
            }

            .seoul-box {
                float: left;
                width: 480px;
                margin: 0 0 0 20px;

                .news-list {
                    width: 480px;

                    .news-item {
                        padding: 8px 0;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 16px;
                        color: #555;

                        .category {
                            font-size: 16px;
                            font-weight: 400;
                            color: #09ac43;
                            margin-right: 18px;
                        }
                    }
                }
            }
        }
    }

    .sns-box {
        position: relative;
        float: left;
        width: 350px;
        height: 195px;
        margin-left: 22px;
        background: url(../images/sns-bg.jpg);

        .sns-banner {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 1.2;
            padding: 10px 15px;
            font-size: 22px;
            font-weight: 700;
            box-sizing: border-box;
            color: #222222;

            .title {
                display: inline-block;
                position: relative;
                padding-right: 50px;
                color: #222;
                font-size: 22px;
                font-weight: 600;
            }
        }

        .sns-list {
            overflow: hidden;
            position: absolute;
            top: 90px;
            left: 50%;
            width: 276px;
            height: 40px;
            margin-left: -138px;

            .sns-item {
                float: left;
                margin: 0 3px;

                .sns-icon {
                    display: block;
                    width: 40px;
                    height: 40px;
                    text-indent: -9999em;

                    &.insta {
                        @include boSns(0, 0);
                    }

                    &.facebook {
                        @include boSns(-40px, 0);
                    }

                    &.twitter {
                        @include boSns(-80px, 0);
                    }

                    &.blog {
                        @include boSns(-120px, 0);
                    }

                    &.youtube {
                        @include boSns(-160px, 0);
                    }

                    &.kakaostroy {
                        @include boSns(-200px, 0);
                    }
                }
            }
        }
    }
}

//-- seoul 끝 --//

.sc-banner {


    .banner-area {
        position: relative;
        padding: 50px 0 50px 0;
        border-top: 2px solid #222;

        .banner-wrap {
            display: block;
            box-sizing: border-box;
            overflow: hidden;

            .banner-slide {
                width: 100%;
                overflow: hidden;
                position: relative;
                height: 122px;
            }

            .controls-box {
                position: relative;
                display: block;
                height: 32px;
                margin-top: 5px;
                overflow: hidden;

                .pagers {
                    position: absolute;
                    display: block;
                    right: 70px;
                    top: 50%;
                    transform: translateY(-50%);
                    bottom: auto;
                    width: auto;
                    left: auto;
                }

                .btn-box {
                    position: absolute;
                    display: block;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);

                    .btn {
                        float: left;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #999;

                        &.prev {
                            @include seBg(-45px, -43px);
                        }

                        &.next {
                            @include seBg(-86px, -43px);
                        }
                    }

                    .play {

                        .start {
                            width: 100%;
                            height: 100%;
                            display: none;
                            @include spBg(-101px, -43px);
                        }

                        .stop {
                            width: 100%;
                            height: 100%;
                            display: block;
                            @include spBg(-65px, -43px);
                        }
                    }
                }
            }
        }
    }
}

// banner 끝 //

.sc-relate {

    .relate-wrap {
        position: relative;
        margin-bottom: 20px;

        .relate-list {
            overflow: hidden;
            border: 1px solid #d0d0d0;

            .relate-item {
                float: left;
                overflow: hidden;
                width: 33.3333%;

                .btn-relate {
                    display: block;
                    width: 100%;
                    padding: 16px 0;
                    border-left: 1px solid #d0d0d0;
                    background: #f7f7f7;
                    color: #333;
                    text-align: center;

                    &.on {
                        .title {
                            &::after {
                                transform: rotate(45deg);
                                top: 3px;
                            }
                        }
                    }

                    .title {
                        position: relative;
                        font-size: 14px;
                        display: inline-block;
                        padding-right: 20px;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 8px;
                            right: 0px;
                            height: 7px;
                            width: 7px;
                            border-style: solid;
                            border-color: #373737;
                            border-width: 0px 2px 2px 0px;
                            transform: rotate(-135deg);
                            transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                            transform-origin: center center;
                        }
                    }
                }

                .relate-box {
                    display: none;
                    position: absolute;
                    bottom: 50px;
                    left: 0;
                    width: 100%;
                    padding: 10px 20px 20px;
                    background: #fff;
                    border: 1px solid #d0d0d0;
                    box-sizing: border-box;
                    z-index: 10;

                    .box-list {
                        overflow: hidden;

                        .box-item {
                            float: left;
                            width: 25%;
                            margin-top: 10px;
                        }
                    }
                }

            }
        }
    }
}

// relate 끝 //